<div class="container">
  <div class="header">
    <div class="logo headerPart">
      <h1>LUI-GI</h1>
      <p>Productos y Articulos de limpieza</p>
    </div>
  </div>

  <div class="titleCart">
    <h1>Carrito</h1>
  </div>

  <div class="containtProductCart">
    <p>producto</p>
  </div>
</div>