<div class="containerHome">
    <div class="containOption">

        <div class="containTitle">
            <h1>LUI-GI</h1>
            <p>Bienvenidos a la tienda virtual de articulos y productos de limpieza domestica </p>
        </div>

        <div class="containerButton">
            <button onclick="location.href='/registro'">
                Registrarse
            </button>
            <button onclick="location.href='/login'">
                Iniciar sesion
            </button>
        </div>
    </div>
</div>