
    <header class="header">

      <div class="logo headerPart">
        <h1>LUI-GI</h1>
        <p>Productos y Articulos de limpieza</p>
      </div>

      <div class="boxSearch headerPart">

        <div class="search">
          <div class="icon"></div>
          <div class="input">
            <input type="text" placeholder="Buscar" id="mySearch" />
          </div>
          <span class="clear"></span>

        </div>
      </div>

      <div class="cartAndName headerPart">
        {{! el siguiente div es para cuando se inicie sesion }}
        {{! <div class="registro2">
          <h1>Hola! jose</h1>
        </div> }}

        <div class="registro boxButton">
          <button onclick="location.href='/registro'">
            Registrarse
          </button>
          <button>
            Iniciar sesión
          </button>
        </div>

        <div class="cart boxButton">
          <button>
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>

      </div>

    </header>

    <div class="navAndBody">
      <div class="contentNav">
        <nav class="siderBar">
          <ul>
            <li><a href="#">Jabón</a></li>
            <li><a href="#">Escobas</a></li>
            <li><a href="#">Desinfectantes</a></li>
            <li><a href="#">Aromantizantes</a></li>
          </ul>
        </nav>
      </div>

      <div class="contentBody">
        <div>
        </div>
      </div>

    </div>

    <foote class="footer">
      <div class="contentBox">
        <ul>
          <li><a href="#">Aviso de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>

      <div class="contentBox">
        <ul>
          <li><a href="#">Catálogo</a></li>
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Cotizaciones</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Facturación</a></li>
        </ul>
      </div>

      <div class="contentBox">
        <ul>
          <li><a href="#">Visa</a></li>
          <li><a href="#">MasterCard</a></li>
        </ul>
      </div>

      <div class="contentBox">
        <ul>
          <li><a href="#">Direccion</a></li>
          <li><a href="#">Email</a></li>
          <li><a href="#">Tel:</a></li>
        </ul>
      </div>

      <div class="contentBox">
        <ul>
          <li><a href="#">F</a></li>
          <li><a href="#">I</a></li>
          <li><a href="#">T</a></li>
          <li><a href="#">W</a></li>
        </ul>
      </div>

    </foote>

  <script src="/js/searchBar.js"></script>