<div class="containLogin">
  <div class="containFom">

    <h1>Inicia sesion</h1>
    <form action="/users/login" method="post">
      Email:
      <input type="email" name="email" id="email" />
      contraseña:
      <input type="password" name="password" id="password" />

      <input class="botonSubmit" type="submit" value="INGRESAR" />

    </form>

  </div>

  <div class="containButtonUserNew">
    <h1>Usuario nuevo?</h1>
    <button  onclick="location.href='/registro'">
      ir a registro
    </button>
  </div>
</div>