<div class="containt">
<div class="contentForm">

  <div class="titleForm">
    <h1>REGISTRO</h1>
  </div>

  <div class="forRegistro">
    <form action="/users/registro" method="post" id="formulario">

      <label for="first_name">
        FirstName:
        <input type="text" name="first_name" id="first_name" />
      </label>

      <label for="last_name">
        LastName:
        <input type="text" name="last_name" id="last_name"/>
      </label>

      <label for="email">
        Email:
        <input type="email" name="email" id="email" />
        </label>

      <label for="age">
         Age:
         <input type="number" name="age" id="age" />
      </label>

      <label for="password">
        Password:
        <input type="password" name="password" id="password" />
      </label>

      <input class="inputSubmit" type="submit" value="CREAR" id="submit"/>
    </form>
  </div>

  <div class="buttonBack">
    <button onclick="location.href='/'">
      REGRESAR
    </button>
  </div>

</div>
</div>

